<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.8/droppable.min.js"></script>
</head>

<body>
    <div>
        <input type="file" name="" id="drop">
    </div>
    <script>
        const Droppable = require('droppable');

        const droppable = new Droppable({
            element: document.querySelector('#drop')
        })

        droppable.onFilesDropped((files) => {
            console.log('Files were dropped:', files);
        });

        // Clean up when you're done!
        droppable.destroy();
    </script>
</body>

</html>